<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="
    http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd
    http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-2.0.xsd
    http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-2.0.xsd">
	<bean id="funnyBean" class="demo.jdbc.dao.FunnyBeanClass">
		<property name="aaa" value="4" />
		<property name="bbb" value="five" />
		<property name="ccc">
			<list>
				<value>cc1</value>
				<value>cc2</value>
				<value>cc3</value>
			</list>
		</property>
	</bean>
	
	<bean id="dataSourceAdapter" class="demo.jdbc.dao.DataSourceAdapter">
		<property name="dbType" value="MySQL" />
		<property name="pooled" value="false" />
		<property name="connectionParams">
			<map>
				<entry key="Oracle">
					<list>
						<value>oracle.jdbc.driver.OracleDriver</value>
						<value>jdbc:oracle:thin:@localhost:1521:XE</value>
						<value>student</value>
						<value>Student007</value>
					</list>
				</entry>
				<entry key="MySQL">
					<list>
						<value>com.mysql.jdbc.Driver</value>
						<value>jdbc:mysql://localhost/music</value>
						<value>student</value>
						<value>Student007</value>
					</list>
				</entry>
			</map>
		</property>
	</bean>
	<bean id="bookmarkDAO" class="demo.jdbc.dao.BookmarkDAO">
		<property name="dataSource" ref="dataSourceAdapter" />
		<property name="dbType" value="MySQL" />
	</bean>
</beans>